.root {
   display: 'flex';
   flex-direction: 'row';
   flex-wrap: 'wrap';
}

.wider-pokemon {
  width: 50%;
}
.card-wrapper {
  width: 300px;
}
.pokemon-card {
  width: 250px;
  height: 200px;
  margin: 10px;
  border: 1px solid black;
}  

.pokemon-media {
  width: 100px;
  height: 100px;
}  

.pokemon-typography {
  text-transform: capitalize;
  font-weight: bold;
}  
